body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    font-variant-caps: all-small-caps  ;
    text-decoration: none;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f5ebc9;
    overflow-x: hidden;
    padding-top: 200px;
    
  }
  


  
  /* Header */
  header {
    position: absolute;
    align-content: center;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }
  .abrir-menu{
    display:none;
    justify-self: flex-end;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
  }
  .logo {
    width: 220px;
    height: auto;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    gap: 3rem;
  }
  
  nav ul li a {
    color: #fff7f3;
    font-size: 2.0rem;
    font-weight: bold;
    font-variant-caps: all-small-caps  ;
    transition: opacity 0.3s ease;
  }
  nav ul li a.active {
    color: #e9a246; /* Color de texto diferente */
    border-radius: 5px; /* O un borde si quieres destacar */
    font-weight: bold;
  }
  
  nav ul li a:hover {
    opacity: 0.7;
    color: #f0a037;
  }
  /* Clase que se activará al hacer scroll */
  .scrolled {
    position: fixed; /* Se vuelve fijo cuando baja */
    background-color: #f5ebc9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Le da un efecto flotante */
  }
  .scrolled nav ul li a{
    color: #5c3030;
    font-size: 2.0rem;
    font-weight: bold;
    font-variant-caps: all-small-caps  ;
    transition: opacity 0.3s ease;
  }
  .scrolled nav ul li a.active {
    color: #a02525; /* Color de texto diferente */
    border-radius: 5px; /* O un borde si quieres destacar */
    font-weight: bold;
  }
  
  /*Media queries header*/
  @media (max-width: 1700px) {
    nav ul li a {
      font-size: 1.8rem;
    }
    .scrolled nav ul li a {
      font-size: 1.8rem;
    }
    .logo {
      width: 180px;
    }
  }
  @media (max-width: 1400px) {
    nav ul li a {
      font-size: 1.6rem;
    }
    .scrolled nav ul li a {
      font-size: 1.6rem;
    }
    .logo {
      width: 160px;
    }
  }
  /* 🔹 Notebook */
  @media (max-width: 1150px) {
    nav ul li a {
      font-size: 1.5rem;
    }
    .scrolled nav ul li a {
      font-size: 1.5rem;
    }
    .logo {
      width: 140px;
      padding: 5px;
    }
  }
  
  /* 🔹 Tablet */
  @media (max-width: 960px) {
    body{
      padding-top: 150px;
    }
    nav ul li a {
      font-size: 1.2rem;
    }
    .scrolled nav ul li a {
      font-size: 1.2rem;
    }
  }
  
  /* 🔹 Mobile */
  @media screen and (max-width: 730px) {
  

    .logo {
      width: 170px;
      padding: 0px;
      height: auto;
    }
    header, footer {
      min-width: 100vw; /* Asegura que ocupe todo el viewport */
      max-width: 100%;
      left: 0;
      right: 0;
    }
  
  .abrir-menu{
    display: block;
    border: 0;
    font-size: 1.8rem;
    background-color: transparent;
    color: #ffffff;
  }
  .scrolled .abrir-menu{
    color: #5c3030;
  }
  
    .nav{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top:0;
      right:0;
      bottom: 0;
      background-color: #f5ebc9;
      padding: 4rem;
      padding-bottom: 50rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
  
    .nav.visible{
      opacity: 1;
      visibility: visible;
    }
  
    .nav-links{
      flex-direction: column;
      align-items: end;
    }
    .nav-links a{
      color: #5c3030;
    }
     nav ul li a.active {
      color: #a02525; 
    }
    .logo {
      width: 150px;
      height: auto;
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .logo {
      width: 140px;
    }
  }
  @media screen and (max-width: 450px) {
  
    .logo {
      width: 120px;
    }
  }

div, body{
    box-sizing: border-box;
  }
  /* Establecer box-sizing en todos los elementos */
*, *::before, *::after {
    box-sizing: border-box;
  }

  .main-content{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-bottom:10rem;
}  

/* Ajustar opacidad/brillo del fondo estático */
.background-image-viñedos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/finca.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.9; /* Ajusta la opacidad */
    filter: brightness(40%);
  }

  .sobre-nosotros{
    display: flex;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap; 
    color: #af895e;
    border-top-style:groove;
    border-bottom-style:groove;
    border-width:thin;
    margin: 20px;
    padding: 5em;
    gap: 2rem;
    border-color: #af895e;
  }
  .intro-text { 
    flex: 1;
    align-self: stretch;
    align-content: center;
    margin: 20px;
    width: 80%;
    max-width: 800px;
    height: auto;
    padding: 50px;
    border-radius: 25px;
    border-style:double;
  }
  .imagen-1 { 
    flex: 1;
    margin: 20px;
    width: 80%; 
    max-width:700px; 
    height: auto;
  }
  .sobre-nosotros h2 {
    color: #f5ebc9;
    font-size: 3.1em;
    margin-bottom: 1rem;
  }
  
  .sobre-nosotros p, .sobre-nosotros-2 p{
     
    color: #fff3f3;
    line-height: 1.5;
    font-variant: normal; 
    font-weight: 500;
    font-size: 1.5rem; 
    margin: 20px;
    text-wrap-style: pretty;
  }
  

  .sobre-nosotros-2 p{
    line-height: 1.8;
  }

  .sobre-nosotros div img {
    flex: 2;
    max-width: 100%; 
    width: auto;
    height: auto; 
    object-fit: contain; 
    border-radius: 5px;
  }


.sobre-nosotros-2{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; 
  color: #af895e;
  margin:20px;
  padding: 5rem;
  gap: 2rem;
  flex-direction: row-reverse;
}

.text-2{ 
  align-self: stretch;
  align-content: center;
  margin: 20px;
  flex: 1;
  width: 80%;
  padding: 50px;
  max-width: 700px;
  height: auto;
  border-radius: 25px;
  border-style:double;
}

.imagen-2 { 
  flex:1;
  width: 80%;
  max-width: 700px; 
  height: auto;
  margin: 30px;
}

.sobre-nosotros-2 div img {
  flex:2;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 5px; 
}

  /* 🔹 Monitores grandes (4K, Ultrawide) */
@media screen and  (max-width: 1950px) {

  .sobre-nosotros p{
    font-size: 2.2rem;
  }
  .sobre-nosotros-2 p {
    font-size: 2.0rem;
  }
  .sobre-nosotros h2 {
    font-size: 3.6rem;
  }
}

/* 🔹 Monitores medianos (Full HD, 1080p) */
@media screen and  (max-width: 1700px) {
  .imagen-1, .imagen-2 {
    max-width: 550px;
  }
  .intro-text{
    max-width: 550px;

  }
  .text-2{
    max-width: 550px;
    
  }
  .sobre-nosotros p {
    font-size: 1.8rem;
  }
  .sobre-nosotros-2 p {
    font-size: 1.6rem;
  }
  .sobre-nosotros h2 {
    font-size: 3.1rem;
  }


}

/* 🔹 Notebook */
@media screen and (max-width: 1360px) {

  .imagen-1, .imagen-2{
    max-width: 450px;
  }
  .intro-text{
    max-width: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .text-2{
    max-width: 450px;
  }
  .sobre-nosotros-2{
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .sobre-nosotros-2 p {
    font-size: 1.3rem;
  }
  .sobre-nosotros p {
    font-size: 1.4rem;
  }
  .sobre-nosotros h2 {
    font-size: 2.6rem;
  }
  }

/* 🔹 Notebook */
@media  screen and (max-width: 1150px) {

  .sobre-nosotros{
    padding: 0.5rem;
  }
  .imagen-1{
    max-width: 350px;
  }
  .imagen-2{
    max-width: 400px;
  }
  .intro-text{
    max-width: 450px;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .text-2{
    max-width: 400px;
  }
  .sobre-nosotros-2 p {
    font-size: 1.1rem;
  }
  .sobre-nosotros p {
    font-size: 1.2rem;
  }
  .sobre-nosotros h2 {
    font-size: 2.4rem;
  }

  }



/* 🔹 Tablet */
@media  screen and (max-width: 960px) {
  

  .sobre-nosotros{
    padding: 0.5rem;
  }
  .imagen-1 {
    max-width: 300px;
  }
  .intro-text{
    max-width: 350px;
    padding: 20px;
  }
  .imagen-2{
    max-width: 350px;
  }
  .text-2{
    max-width: 350px;
    padding: 15px;
  }
  .sobre-nosotros-2  {
    padding-top: 10px;
    padding-bottom: 0;
    
    padding-right: 10px;
    margin-bottom: 0;
  }
  .sobre-nosotros-2 p {
    font-size: 0.9rem;
  }
  .sobre-nosotros p {
    font-size: 0.9rem;
  }
  .sobre-nosotros h2 {
    font-size: 2.0rem;
  }

}


/* 🔹 Mobile */
@media screen and (max-width: 730px) {


  .sobre-nosotros, .sobre-nosotros-2{
    flex-direction: column;
    padding: 20px;
    
  }
  .imagen-1 {
    max-width: 400px;
  }
  .imagen-2 {
    max-width: 450px;
    margin: auto;
  }
  .intro-text{
    max-width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
  }
  .text-2{
    max-width: 400px;
    padding: 20px;
  }
}
@media screen and (max-width: 450px) {


  .sobre-nosotros, .sobre-nosotros-2{
    flex-direction: column;
    padding: 5px;
    gap:1rem;
    
  }
  .sobre-nosotros-2{
    margin-bottom:0;
    padding-bottom:0;
  }
  .imagen-1 {
    max-width: 325px;
  }
  .imagen-2 {
    max-width: 350px;
    margin: auto;
    padding:0;
    
  }
  .intro-text{
    max-width: 325px;
    padding:20px
  }
  .text-2{
    max-width: 350px;
    padding: 20px;
  }
  .sobre-nosotros-2 p {
    font-size: 0.8rem;
  }
  .sobre-nosotros p {
    font-size: 0.8rem;
  }
  .sobre-nosotros h2 {
    font-size: 1.6rem;
  }
}



 










